// COLOR VARIABLES
$color-primary: #90caf9;
$color-primary-dark: #2196f3;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #1e88e5;
$color-grey-dark-2: #1976d2;

// FONT VARIABLES
$font-primary: 'Dosis', sans-serif;
$font-display: 'Rubik', sans-serif